/*
 * Pezzolesi Lab Sentieon Pipeline
 * Author: Scott Frodsham
 * Copyright (c) 2018: none (lol)
*/

params {
    // Pipeline version
    version = '0.1.0'

    // Location of scratch

    // VEP cache

    // Default runtime parameters

    // Needed reference files

    // VQSR default parameters

}

process {
    errorStrategy = 'retry'
    maxRetries = 5
    executor = 'slurm'
    clusterOptions = '--account=pezzolesi-np --partition=pezzolesi-np'
    scratch = '$scratchLocation'

    // Specific process specifications
    $example {
        executor = 'local'
        cpus = 32
    }
}
